<div th:fragment="footer">
   <div class="footer" style="background-color:  #1aace7;">
		<div class="container-fluid">
			<div class="col-md-3 col-md-offset-1">
					<b><a style="font-size: x-small; text-decoration: none;color: white;">P&aacute;gina Web</a></b><br>				
					<b><a style="font-size: x-small; text-decoration: none;color: white;">www.imptek.com</a></b>
			</div>
			<div class="col-md-3 col-md-offset-1">
					<b><a style="font-size: x-small; text-decoration: none;color: white;">Contacto</a></b><br>
					 <a style="font-size: x-small; text-decoration: none;color: white;">(593) 2 6003450 ext.2120</a>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div>
					<b><a style="font-size: x-small;text-decoration: none;color: white;">Desarrollado por el &Aacute;rea de TIC's</a></b><br>
					<a style="font-size: x-small;text-decoration: none;color: white;">V&iacute;a E-35 Km 14 V&iacute;a Pifo, Sector El Inga</a><br>
					<a style="font-size: x-small;text-decoration: none;color: white;">Quito, Ecuador</a>
				</div>
			</div>
		</div>
	</div>
</div>