<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro de Contacto Imptek</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/conic-gradient.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="static/css/index1.css" th:href="@{/css/index1.css}">
</head>
<body style="background-color: #e9e9e9;">
	
	<div th:replace="/header :: header"> </div>
	
	<div class="container mt-6">
		<div class="col-md-7">
			
			<form id="registro_contacto_ex" th:action="@{/contacto_ex/save}" th:object=${contacto_ex} method="POST">				
					
						<h3>Registrar Contacto a Obra</h3>
						<br>
						
						<input id=idContactEx th:field="*{idContactEx}" type="hidden" class="form-control">				
						
						<input id=idObr th:field="*{idObrEx}" type="hidden" class="form-control">
					
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Nombre Obra</label>
							<div class="col-sm-7">
								<input id=nomObr th:field="*{contProyObrEx}" type="text" class="form-control" readonly>
							</div>
						</div>
						
						<div class="form-group row">
						<label class="col-sm-4 col-form-label">Ciudad de la Obra</label>
							<div class="col-sm-7">
								<input id=nomCiud th:field="*{contCiuObrEx}" type="text" class="form-control" readonly>
							</div>							
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Zona de la Obra</label>
							<div class="col-sm-7">
							   <input id=nomZon th:field="*{contZonObrEx}" type="text" class="form-control" readonly>
							 </div>							
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Constructora de la Obra</label>
							<div class="col-sm-7">
								<input id=consObra th:field="*{contConsObrEx}" type="text" class="form-control" readonly>
							</div>							
						</div>
						
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Estado de la Obra</label>
							<div class="col-sm-7">
								<input id=estadoObra th:field="*{contStatObrEx}" type="text" class="form-control" readonly>
							</div>							
						</div>
						
												
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Avance de la Obra</label>
								<div class="col-sm-7">
									<select class="form-control" id="porcentajeObras"
										name="contAvanObrEx" th:field="*{contAvanObrEx}">
										<option value="0">Seleccione el avance</option>
										<option th:value="0+'%'" th:text="'0%'"></option>
										<option th:value="10+'%'" th:text="'10%'"></option>
										<option th:value="20+'%'" th:text="'20%'"></option>
										<option th:value="30+'%'" th:text="'30%'"></option>
										<option th:value="40+'%'" th:text="'40%'"></option>
										<option th:value="50+'%'" th:text="'50%'"></option>
										<option th:value="60+'%'" th:text="'60%'"></option>
										<option th:value="70+'%'" th:text="'70%'"></option>
										<option th:value="80+'%'" th:text="'80%'"></option>
										<option th:value="90+'%'" th:text="'90%'"></option>
										<option th:value="100+'%'" th:text="'100%'"></option>
									</select>
								</div>									
							</div>
				
					
						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Contacto</label>
							<div class="col-sm-7"> 
								<input id=contacto_ex th:field="*{nombreContactEx}" type="text"  placeholder="Juan Pérez" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Teléfono del Contacto</label> 
							<div class="col-sm-7">
								<input id=telf_ex th:field="*{telefonoContactEx}" type="text"  placeholder="0993456789" maxlength="10" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-4 col-form-label">Correo del Contacto</label> 
							<div class="col-sm-7">
								<input id=correo_ex th:field="*{correoContactEx}" type="text" placeholder="abc@dominio.com" class="form-control">
							</div>
						</div>						
						<br>										 						
						<div class="card-footer">
					    <input id="btnSubmit" type="submit" value="Guardar"
						class="btn btn-success" onclick="validate()">
						 
						<input id="btnClean" type="button" value="Limpiar Campos"
						class="btn btn-info" onclick="cleanForm()">
						 
						<a th:href="@{/api/contacto_ex/listar}" class="btn btn-warning btn-md"><span
						class="glyphicon glyphicon-chevron-left"></span>Regresar a Obras Externas</a>
					    </div>
					
			  	</form>
			
			  </div>
			</div>

		<footer class="footer" th:replace="/footer :: footer"></footer>

	<script type="text/javascript">
		$(function validate() {
			$("#btnSubmit")
					.click(
							function() {

								var name = $("#contacto_ex").val();
								var telf = $("#telf_ex").val();
								var correo = $("#correo_ex").val();						
								
								if (name == '' && telf == '' && correo == '') {										
																		
									swal({
										title : "Por favor complete los campos requeridos en el formulario!!!",
										icon : "warning",
										button : "Ok"
									})
									return false;
								}

								else {
									swal({
										title : "Registro creado exitosamente!!!",
										icon : "success",
										timer: 16000000,
										button : "Ok",
										
									})
									return true;
								}
							});
		});
		
		
		function cleanForm() {
			document.getElementById("registro_contacto_ex").reset();
		}
		
	</script> 
	
		<script type="text/javascript">	
		
		$("#contacto_ex").keyup(function () {
		    var test = /[^a-z A-ZáéíóúüñÁÉÍÓÚ]+$/;
		    if (test.test($(this).val())) {
		        $("#contacto_ex").val($(this).val().replace(/[^a-z A-ZáéíóúüñÁÉÍÓÚ]+$/g, ""));
		    }
		});
		
		
		$("#telf_ex").keyup(function () {
			var test = /\D/;
		    if (test.test($(this).val())) {
		    	$("#telf_ex").val($(this).val().replace(/\D/g, ""));
		});		
		
	</script>
	
</body>
</html>