<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado de Clientes</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/conic-gradient.js"></script> 
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>  
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>   
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" href="static/css/index1.css" th:href="@{/css/index1.css}">
</head>
<body style="background-color: #e9e9e9;">
	
	<div th:replace="/header :: header"> </div>
	<div class="container mt-4">
		<a  th:href="@{/cliente/new}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar Nuevo Registro</a><br>
		<div align="right">
		<br>	
			<!-- <label for="search_input">Buscar:</label>
			 <input id="search" type="text"
				placeholder="Buscar Nombre" name="search" style="height: 26px;">
				<span class="glyphicon glyphicon-search"></span> -->
								
				<form th:action="@{/cliente/buscarCliente}">
							<label for="cliente">Código Cliente:</label>
							<input id="cliente" type="text" placeholder="Ingrese el código" name="codCliente" th:value="${codCliente}" style="height: 26px;">							
					
							<input type="submit" value="Buscar" class="btn btn-primary"/>
							&nbsp;
							<input type="button" value="Limpiar"  class="btn  btn-info" id="btnClear" onclick="clearSearch()" />
				</form>			
		</div>	
		<br>
		
		<div style="overflow-y:auto;">
			<table id="contactoTable" class="table table-bordered table-hover mb-0"  style="background-color: white;">
				<thead>
					<tr class="header" style="background-color: #F0C73D">
					
						<!-- <th style="text-align: center">#</th> -->
						<th style="text-align: center">Código Cliente</th>
						<th style="text-align: center">Nombre Cliente</th>												
						<th style="text-align: center">RUC/Cédula</th>	
						<th style="text-align: center">Línea Cliente</th>	
						<th style="text-align: center">Fecha Creación</th>																	
						<th style="text-align: center">ACCIONES</th>
						<!-- <th style="text-align: center">FECHA COTIZACIÓN</th>	
						<th style="text-align: center">FECHA CIERRE</th>
						<th style="text-align: center">COMENTARIOS</th> -->		
						<!-- <th style="text-align: center">Ingresar/Ver Contacto</th> -->
										
					</tr>
				</thead>

				<tbody>
					<tr th:each="c:${cliente}" align="center">
						<!-- <td><a th:href="@{'/ver/'} + ${c.idCliente}" th:text="${c.idCliente}" class="btn btn-primary"></a></td> -->													
						<td th:text="${c.codCliente}"></td>			
						<td th:text="${c.nomCliente}"></td>
						<td th:text="${c.cedulaCliente}"></td>				
						<td th:text="${c.lineaCliente}"></td>	
						<td th:text="${c.createAt}"></td>										
						<!-- <td th:text="${o.fechaCotObrEx}"></td>											
						<td th:text="${o.fechaCieObrEx}"></td>
						<td th:text="${o.comentObrEx}"></td> -->											
														
						<td th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')}: ${true}">												
							<form id="editar" action="#" th:action="@{/cliente/editar/}+${c.idCliente}" method="get">
								<button th:case="${!#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:disabled="disabled" style="width: 63px; height: 35px" value="Editar" class="btn btn-danger">Editar</button>
							</form>	
							
							<form id="editar" action="#" th:action="@{/cliente/editar/}+${c.idCliente}" method="get">
								<button th:case="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" style="width: 63px; height: 35px" value="Editar" class="btn btn-danger">Editar</button>
							</form>									
						</td>						
							
						<!-- <form id="editar" action="#" th:action="@{/cliente/editar/}+${c.idCliente}" method="get">
							<button th:if="${!#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
							   style="width: 63px; height: 35px" value="Editar" class="btn btn-danger">Editar</button>
						</form>	 -->
						
						<!-- <td><a th:href="@{/contacto_ex/new/}+${o.idObrEx}"
									class="btn btn-info">Ingreso</a>
						</td>	 -->
											
					</tr>				
				</tbody>				
			</table>				
				
				<div>
					<a id=btnPdf th:href="@{/cliente/clientesReport.xlsx}" class="btn btn-info"><span
							class="glyphicon glyphicon-download-alt"></span> Generar Excel</a>
					<!-- <a id=btnPdf th:href="@{/obras_ex/report/pdf}" class="btn btn-info"><span
							class="glyphicon glyphicon-download-alt"></span> Generar1 PDF</a> -->
					<a th:href="@{/userForm}" class="btn btn-warning"><span
							class="glyphicon glyphicon-chevron-left"></span>Regresar</a>
				</div>
				
			<div align="center" style="margin-top: -10px;">
				<div class="row" style="width:100% !important;">
					<div class="col-md-2"></div>
					<div class="col-md-12">
						<nav aria-label="Pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
									<a class="page-link" th:href="@{|/cliente/clientesListar?page=${prev}|}">Anterior</a>
								</li>
								<li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
									<a class="page-link" th:href="@{|/cliente/clientesListar?page=${page}|}" th:text="${page}"></a>
								</li>
								<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
									<a class="page-link" th:href="@{|/cliente/clientesListar?page=${next}|}">Siguiente</a>
								</li>
							</ul>
						</nav>
					</div>
				<div class="col-md-2"></div>
			  </div>
			</div>
		</div>
	</div>
			
	<footer class="footer" th:replace="/footer :: footer"></footer>	
	<script th:inline='javascript'>
	
	var usuario =  /*[[${usuarios}]]*/;
	
	$(function() {
		  $("#search").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#contactoTable > tbody > tr").filter(function() {     
		    	$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
			
	</script>
	
	<script type="text/javascript">
    $(document).ready(function () {

        $('#btnSubmit').click(function () {
            $('#myAlert').show('fade');

            setTimeout(function () {
                $('#myAlert').hide('fade');
            }, 100000000);

        });

        $('#linkClose').click(function () {
            $('#myAlert').hide('fade');
        });

    });
	</script>	
	
	<script>
	  // your custom ajax request here
	  function ajaxRequest(params) {
	    var url = 'https://examples.wenzhixin.net.cn/examples/bootstrap_table/data'
	    $.get(url + '?' + $.param(params.data)).then(function (res) {
	      params.success(res)
	    })
	  }
	  
	  function clearSearch() {
			window.location = "[[@{/cliente/clientesListar}]]";
		}
	  
	</script>		

</body>
</html>